<header>
  <h1>New ad</h1>
</header>

<p>Price <span class="ad_price">0</span>€</p>

<%= form_for @ad, :multipart => true do |f| %>
  <input type="hidden" id="ad_days" name="ad[ad_days]" />

  <p>
    <label>Select days</label><br />
    <div id="select_ad_days" class="slider"></div><span id="days"></span>
  </p>
  <p>
    <%= label_tag :tags %><br />
    <%= text_field_tag 'ad[tags]', nil, :id => 'tags' %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :class => 'datetimepicker' %>
  </p>
  <p>
    <%= f.label :media %><br />
    <%= f.file_field :media %>
  </p>
  <p>
    <%= f.submit I18n.t('save') %>
  </p>
<% end %>