<header>
  <h1><%= t 'my_links.new_ad' %></h1>
</header>

<%= form_for @ad, :multipart => true do |f| %>
  <input type="hidden" id="ad_days" name="ad[ad_days]" />

  <%= f.error_messages %>

  <p><%= t 'misc.price' %> <span class="ad_price">0</span>€</p>

  <p>
    <label><%= t 'misc.select_days' %></label><br />
    <div id="select_ad_days" class="slider"></div><span id="days"></span>
  </p>
  <p>
    <%= label_tag :tags, t('title.tags') %><br />
    <%= text_field_tag 'ad[tags]', nil, :id => 'tags' %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :class => 'datetimepicker' %>
  </p>
  <p>
    <%= f.label :media %><br />
    <%= f.file_field :media %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>