<div id="comment-<%= comment.id %>">
  <% if comment.user.name %>
    <p class="comment-commenter"><%= comment.user.try(:name) %>
  <% else %>
    <p class="comment-commenter"><%= t 'title.anonymous' %>
  <% end %>
  <% if is_admin? || (current_user && current_user.has_comment?(comment)) %>
    <span style="float:right;padding-right:20px;"><%= link_to (image_tag 'edit.png'), edit_event_comment_path(@commentable, comment) %></span>
    <span style="float:right;padding-left:15px;"><%= link_to (image_tag 'delete.gif'), [@commentable, comment], :confirm => I18n.t('help.delete_confirm_comment'), :method => :delete %></span>
  <% end %></p>
  <% if comment.user.avatar %>
    <p class="comment-avatar"><%= image_tag comment.user.try(:avatar) %></p>
  <% else %>
    <p class="comment-avatar"><%= image_tag ('user_no_image.png') %></p>
  <% end %>
  <p class="comment-created_at"><%= l comment.created_at, :format => :long if comment.created_at? %></p>
  <p class="comment-body"><%= comment.body %></p>
</div>
