<header>
  <h1><%= t 'my_links.new_client' %></h1>
</header>

<%= form_for @client do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :client_type, %><br />
    <%= f.select :client_type, [[t('client_type.company'), Client::TYPE_COMPANY], [t('client_type.organization'), Client::TYPE_ORGANIZATION], [t('client_type.institute'), Client::TYPE_INSTITUTE]] %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.country_select :country, ['Finland'] %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>