<header>
  <h1>New client</h1>
</header>

<%= form_for @client do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :client_type_id, %><br />
    <%= f.select :client_type_id, ClientType.all.map { |c| [c.name, c.id] } %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </p>
  <p>
    <%= f.submit I18n.t('save') %>
  </p>

<% end %>