<ul id="providers_list">
    <li><%= link_to "/auth/facebook" do %><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %><% end %></li>
    <li><%= link_to "/auth/twitter" do %><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %><% end %></li>
    <li><%= link_to "/auth/google" do %><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %><% end %></li>
    <li><%= link_to "/auth/github" do %><%= image_tag "github_64.png", :size => "64x64", :alt => "Github" %><% end %></li>
    <li><%= link_to "/auth/yahoo" do %><%= image_tag "yahoo_64.png", :size => "64x64", :alt => "Yahoo" %><% end %></li>
    <li><%= link_to "/auth/aol" do %><%= image_tag "aol_64.png", :size => "64x64", :alt => "Aol" %><% end %></li>
    <li><%= link_to "/auth/myopenid" do %><%= image_tag "openid_64.png", :size => "64x64", :alt => "MyOpenID" %><% end %></li>
</ul>
