<header>
  <h1><%= t 'title.latest_events' %></h1>
</header>

<%- for event in @events -%>
<article id="event-<%= event.id %>" class="event">
  <header>
    <h1><%= link_to event.name, event, :id => "event-name-#{event.id}" %></h1>
    <p class="event-category_list"><%= category_list(event.categories) %></p>
    <p class="event-image">
    <% for gallery in event.galleries %>
      <% for resource in gallery.gallery_resources %>
        <%= image_tag resource.resource_file_name %>
      <% end %>
    <% end %>
    </p>
    <p id="event-description-<%= event.id %>"><%= event.description %></p>    
  </header>
</article>
<hr />
<%- end -%>
