<header>
  <h1>Latest events</h1>
</header>

<%- for event in @events -%>
<article id="event-<%= event.id %>" class="event">
  <header>
    <h1 id="event-name-<%= event.id %>"><%= event.name %></h1>
    <p id="event-description-<%= event.id %>"><%= event.description %></p>
  </header>
</article>
<hr />
<%- end -%>
