<% show_record_info = nil unless defined?(show_record_info) %>

<article id="event-<%= event.id %>" class="event_list_entry <%= cycle('even', 'odd') %> clearfix">
  <div class="event_image">
  <% unless event.galleries.first.nil? %>
    <%= image_tag event.galleries.first.gallery_resources.first.resource(:small) %>
  <% end %>
  </div>
  <div class="event_info">
    <% if show_record_info %>
      <% if is_admin? && !event.approved? %>
        <div class="record_status"><span class="button_small_green"><%= link_to t('help.approve'), approve_event_path(event) %></span></div>
      <% elsif current_user && !is_admin? && current_user.has_event?(event) && !event.approved? %>
        <div class="record_status"><span class="button_small_red"><%= t('title.waiting_for_confirmation') %></span></div>
      <% end %>
    <% end %>

    <header>
      <h1>
        <%= link_to event.name, event, :id => "event-name-#{event.id}" %>
        <% if current_user %>
          <% if current_user.has_event?(event) %>
            <span style="font-size:10px;">(<%= link_to t('title.edit'), edit_event_path(event) %>)</span>
            <span style="font-size:10px;">(<%= link_to t('title.delete'), event, :confirm => I18n.t('title.delete_confirm'), :method => :delete %>)</span>
          <% end %>
        <% end %>
      </h1>
      <span class="event_showtime">
        <time datetime="<%= event.showtimes.first.start_time %>"><%= l event.showtimes.first.start_time, :format => :long %></time>

        <% unless event.showtimes.first.end_time.nil? %>
        -
        <time><%= l event.showtimes.first.end_time, :format => :long %></time>
        <% end %>

        <% if event.showtimes.count > 1 %>
          (<%= link_to(t('title.more_times'), event_path(event, :anchor => 'showtimes')) %>)
        <% end %>
      </span>
		</header>
      <p id="event-description-<%= event.id %>"><%= event.description %></p>
    

    <ul class="event_additional_info">
      <li>
        <span id="event-<%= event.id %>-category-list" class="event_category_list">
          <%= category_list(event.categories) %>
        </span>
      </li>
      <li>
        <div class="g-plusone" data-size="small" data-annotation="none" callback="incrementEventLikedCount" data-href="<%= event_path(event) %>"></div>
      </li>
    </ul>
  </div>

  <script type="text/javascript">
    window.___gcfg = {lang: '<%= I18n.locale.to_s %>'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</article>
