<%= form_for @event do |f| %>
  <% f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <div id="showtimes">   
    <%= f.fields_for :showtimes do |builder| %>
      <%= render 'showtime_fields', :f => builder %>
    <% end %>    
    <%= link_to_add_fields "Add showtime", f, :showtimes %>
  </div>
  
  <div id="location">
    <p id="city">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </p>
    <p id="country">
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    </p>
    <p id="address">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </p>
  </div>
  
  <div id="publishing-time">
    <p class="start_time">
      <%= f.label :active_time_start %><br />
      <%= f.text_field :active_time_start, :class => "datepicker" %><span class="to-until">-</span>
    </p>
    <p class="end_time">
      <%= f.label :active_time_end %><br />
      <%= f.text_field :active_time_end, :class => "datepicker" %>
    </p>
  </div>
  
  <p><%= f.submit %></p>
<% end %>
