<%= form_for @event do |f| %>
  <%= f.error_messages %>

	  <p>
		  <%= f.label :name %><br />
      <%= f.text_field :name %>
		</p>
		
		<p>
		  <%= f.label :description %><br />
		  <%= f.text_area :description %>
		</p>

    <%= f.label :categories %><br /> 
    <p class="categories_field">       
      <% Category.all.each do |category| %>
        <%= label_tag category.name %> <%= check_box_tag 'event[category_ids][]', category.id, @event.categories.include?(category) %><br />
      <% end %>
    </p>
    <p>
      <%= f.fields_for :showtimes do |builder| %>
        <%= render 'showtime_fields', :f => builder %>
      <% end %>
      <span><%= link_to_add_fields "Add showtime", f, :showtimes %></span>  
    </p>  
    <p>
      <%= f.label :picture %><br />
      <% if !@event.new_record? && @event.has_picture? %>
        <%= image_tag @event.picture(:small) %><br />
      <% end %>
      <%= f.file_field :picture %>
    </p>
    <p>
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    </p>
    
    <p>
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </p>
 
    <p class="start_time">
      <%= f.label :active_time_start %><br />
      <%= f.text_field :active_time_start, :class => "datepicker" %>
    </p>
    <p class="end_time">
      <%= f.label :active_time_end %><br />
      <%= f.text_field :active_time_end, :class => "datepicker" %>
    </p>
  
    <p class="submit_form">
		  <%= f.submit %>
		  <%= link_to 'Cancel', events_path %>
	  </p>
<% end %>
