<header>
  <h1><%= @event.name %></h1>
</header>

<div id="event-nav" class="eventTab">
  <ul class="clearfix"> 
    <li><a class="selected" href="#event-info"><%= t 'title.event_info' %></a></li> 
    <li><a href="#event-comments"><%= t 'title.comments' %></a></li> 
  </ul>

  <div class="event_info_content">
    <div id="event-info">
      <p class="event-image">
        <% for gallery in @event.galleries %>
          <% for resource_file in gallery.gallery_resources %>
            <%= image_tag resource_file.resource(:medium) %>
          <% end %>
        <% end %>
      </p>
      <p class="event-description">
        <%= @event.description %>
      </p>

      <h2><%= t 'title.where' %></h2>
      <p>
        <%= @event.address %> <a id="inline" href="#map"><%= t('help.show_map') %></a><br />
        <%= @event.country %>

        <div style="display:none"><div id="map"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x480&sensor=false&zoom=14&markers=#{@event.latitude}%2C#{@event.longitude}" %></div></div>
      </p>

      <p class="event-category_list">
        <%= category_list(@event.categories) %>
      </p>
    </div> 
    <div id="event-comments" style="display: none">
      <% if current_user %>
        <h2><%= t "title.comment" %></h2>
        <%= render "comments/form" %>
      <% else %>
        <p><%= t('help.not_logged_in_for_commenting') %></p>
      <% end %>
      <h1><%= t "title.comments" %></h1>
      <%= render @event.comments, :locals => { :commentable => @event } %>
    </div>
  </div>
</div>
