<%= render :partial => 'shared/event_tab_nav', :locals => { :event => @event } %>

  <div class="event_content">
    <div id="event-info">
      <% if @event.galleries.exists? %>
        <p class="event-image">
          <%= image_tag @event.galleries.first.gallery_resources.first.resource(:medium) %>
        </p>
      <% end %>
      <p class="event-description">
        <%= @event.description %>
      </p>

      <h2><%= t 'title.where' %></h2>
      <p>
        <%= @event.address %> <a id="inline" href="#map"><%= t('help.show_map') %></a><br />
        <%= @event.country %>

        <div style="display:none"><div id="map"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x480&sensor=false&zoom=14&markers=#{@event.latitude}%2C#{@event.longitude}" %></div></div>
      </p>

      <p class="event-category_list">
        <%= category_list(@event.categories) %>
      </p>
    </div> 
  </div>
