<% title @event.name %>

<%= render :partial => 'shared/event_tab_nav', :locals => { :event => @event } %>

  <div class="event_content clearfix">
     <div class="event-info" style="width: <%= event_info_width(@event, :style => :info, :info_width => 460, :image_width => 200) %>px;margin-bottom: 20px;">
      <p class="event-description">
        <%= @event.description %>
      </p>

      <h2><%= t 'title.where' %></h2>
      <p>
        <%= @event.address_and_city %> <a id="inline" href="#map"><%= t('help.show_map') %></a><br />
        <%= @event.country %>

        <div style="display:none"><div id="map"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x480&sensor=false&zoom=14&markers=#{@event.latitude}%2C#{@event.longitude}" %></div></div>
      </p>

      <h2><%= I18n.t('title.showtimes') %></h2>
      <table>
        <% for showtime in @event.showtimes %>
        <tr>
          <td><%= l showtime.start_time, :format => :long2 %></td>
          <td style="width: 20px; text-align: center">-</td>
          <td><%= l showtime.end_time, :format => :long2 %></td>
        </tr>
        <% end %>
      </table>

      <p class="event-category_list">
        <%= category_list(@event.categories) %>
      </p>    
    </div>

    <% if @event.has_picture? %>
      <p class="event-image" style="width: <%= event_image_width(@event, :style => :info, :image_width => 200) %>px;">
          <%= link_to image_tag(@event.picture(:info)), @event.picture.url(:large), :class => 'image' %>
      </p>
    <% end %> 
    
    <ul class="event_additional_info" style="float:left; margin-left:-10px">
      <%= render :partial => 'shared/socialmedia_buttons', :locals => { :event => @event } %>
    </ul>
    
  </div>
