<%= form_for @category do |f| %>
  <%= f.error_messages %>
  
  <p id="category_name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p id="category_description">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Category image" %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to 'Cancel', categories_path %>
  </p>
<% end %>
