<% content_for :ads do %>
  <%= elements_for_ads(@ads) %>
<% end %>

<header>
  <h1 class="show_category_name"><%= @category.name %>
    <% if is_admin? %>
      <span class="icons-right"><%= link_to (image_tag 'delete.gif'), @category, :confirm => I18n.t('help.delete_confirm_category'), :method => :delete %></span>
      <span class="icons-right"><%= link_to (image_tag 'edit.png'), edit_category_path(@category) %></span>
    <% end %>
  </h1>
</header>

<p class="show_category_description"><%= @category.description %></p>

<% if @category.image.present? %>
  <%= image_tag (@category.image(:medium)), :class => 'show_category_image' %>
<% else %>
  <p class="show_category_image"></p>
<% end %>

<h1>Events in <%= @category.name %></h1>

<% if @category.events.approved.any? %>
  <%- for event in @category.events.approved -%>
    <%= render event %>
  <%- end -%>
<% else %>
  <p><%= t 'help.empty_category' %></p>
<% end %>
