<% content_for :ads do %>
  <%= elements_for_ads(@ads) %>
<% end %>

<header>
  <h1><%= @category.name %></h1>
</header>

<p><%= image_tag @category.image(:small) %></p>

<p><%= @category.description %></p>

<h1>Events in <%= @category.name %></h1>

  <%- for event in @category.events.approved -%>
    <%= render event %>
  <%- end -%>
