<!DOCTYPE html>
<html>
<head>
  <title>Test310</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header_wrapper">
  <header id="page_header">
    <div class="top_group">
  <div id="logo">
       <a href="#"><img src="/assets/Logo/happen_logo_half.png" title="click me!" /></a>
     </div> 
     <nav id="user_nav">
        <% if current_user %>
          <%= t 'title.welcome' %> <%= current_user.name %>
          <%= link_to t('title.sign_out'), signout_path, :id => "signout" %>
        <% else %>
          <%= link_to t('title.sign_in'), signin_path, :id => "signin" %>
        <% end %>

        <%= link_to_locales %>
      </nav>
    <div class="recent_events">
        <span class="italic">07.09.11 - Event happening now!</span>
    </div>
		<div class="add_event">
				<a href="/events/new" title="Add Event" alt="Add Event"> Add Event </a>		
		</div>
    <div id="search-box">
      <form action="<%= search_index_path %>" method="get">
        <input class="search-box" type="text" name="q" placeholder="Search" />
        <input type="submit" class="submit" value="" />
      </form>
    </div>
    </div>
    <div class="bottom_group">
    </div>
      <nav id="page_nav">
        <ul>
          <li><%= link_to t('title.home'), root_path %></li>
          <li><%= link_to t('title.events'), events_path %></li>
          <li><%= link_to t('title.categories'), categories_path %></li>
          <li><%= link_to t('title.add_event'), new_event_path %></li>
        </ul>
      </nav>
  </header>
</div>

<div id="wrapper">
  <section id="content">
    <div class="available_updates" style="display: none">
      <p>
        <%= t 'content_has_been_updated' %>, 
        <a href="#" class="update_content_link"><%= t('show_updates') %></a>
      </p>
    </div>
    <section id="flash">
      <% flash.each do |name, msg| %>
          <%= msg %>
      <% end %>
    </section>

    <%= yield %>
  </section>

  <aside>
    <% if current_user %>

      <%- if is_admin? -%>
      <h2><%= t 'title.confirmation_requests' %></h2>
      <nav id="requests">
        <ul>
          <li><span id="unapproved_events_count" class="request_count"> <%= Event.unapproved.count %></span> <%= link_to I18n.t('title.events'), unapproved_events_path %></li>
          <li><span id="unconfirmed_clients_count" class="request_count"><%= Client.unconfirmed.count %></span> <%= link_to I18n.t('title.clients'), unconfirmed_clients_path %></li>
          <li><span id="unconfirmed_ads_count" class="request_count"> <%= Ad.unconfirmed.count %></span> <%= link_to I18n.t('title.ads'), unconfirmed_ads_path %></li>
        </ul>
      </nav>
      <%- end -%>

      <% if is_admin? %>
      <br />
      <h2><%= t 'title.admin_links' %></h2>
      <nav id="adminlinks">
        <ul>
          <li><%= link_to I18n.t('title.clients'), clients_path %></li>
          <li><%= link_to t('title.ads'), ads_path %></li>
        </ul>
      </nav>
      <% end %>

      <br />
      <h2><%= t 'title.my_links' %></h2>
      <nav id="mylinks">
        <ul>
          <%- unless current_user.client_id.nil? -%>
          <li><%= link_to t('my_links.my_client'), current_user.client %></li>
          <% else %>
          <li><%= link_to t('my_links.new_client'), new_client_path %></li>
          <% end %>
          <li><%= link_to t('my_links.my_events'), myevents_path %></li>
          <li><%= link_to t('my_links.my_ads'), my_ads_path %></li>
          <li><%= link_to t('my_links.new_ad'), new_ad_path %></li>
        </ul>
      </nav>
    <% end %>

    <br />

    <div class="advertises">
      <%= content_for?(:ads) ? content_for(:ads) : elements_for_ads(Ad.confirmed) %>
    </div>

    <br />

    <h2><%= t 'title.tags' %></h2>
    <div class="tagcloud">
      <% tag_cloud %w(nube1 nube2 nube3 nube4 nube5) do |id, name, klass| %>
        <%= link_to name.downcase, '#', :class => klass %>
      <%- end -%>
    </div>
  </aside>

  <footer id="page_footer">
    
  </footer>
</div>
<script type="text/javascript">
var node_app_host = '<%= APP_HOST %>';
</script>
<script type="text/javascript" src="http://<%= APP_HOST %>:1337/socket.io/socket.io.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
