<!DOCTYPE html>
<html>
<head>
  <title>Test310</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://localhost:1337/socket.io/socket.io.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <section id="user_nav">
    <% if current_user %>
      Welcome <%= current_user.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      Sign in with:
      <%= render "providers_list" %>
      <p>
      Don't have any of these accounts? Get your <%= link_to "MyOpenID", "http://www.myopenid.com/" %> or <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %> now! If you want to learn more about OpenID or find more OpenID providers, you can get more information at <%= link_to "openid.net", "http://openid.net" %>
      </p>
    <% end %>
  </section>

  <header id="page_header">
    <h1>Happen.</h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Events", events_path %></li>
      </ul>
    </nav>
  </header>

  <section id="content">
    <section id="flash">
      <% flash.each do |name, msg| %>
          <%= msg %>
      <% end %>
    </section>

    <%= yield %>
  </section>
</div>

</body>
</html>
