<!DOCTYPE html>
<html>
<head>
  <title>Test310</title>
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="http://<%= APP_HOST %>:1337/socket.io/socket.io.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <header id="page_header">
    <div class="top_group">
      <h1>Happen.</h1>

      <div class="recent_events">
        <span>Event name</span>
      </div>

      <nav id="user_nav">
        <% if current_user %>
          Welcome <%= current_user.name %>!
          <%= link_to "Sign out", signout_path, :id => "signout" %>
        <% else %>
          <%= link_to "Sign in", signin_path, :id => "signin" %>
        <% end %>
      </nav>
    </div>

    <div class="bottom_group">
      <nav id="page_nav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Add Event", new_event_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="content_wrapper">
    <section id="content">
      <section id="flash">
        <% flash.each do |name, msg| %>
            <%= msg %>
        <% end %>
      </section>

      <%= yield %>
    </section>
  </div>

  <aside>
    <% if current_user %>
      <h2>Confirmation</h2>
      <nav id="requests">
        <ul>
          <li><%= link_to 'Events', unapproved_events_path %> <span class="request_count"><%= Event.unapproved.count %></span></li>
          <li><a href="#">Clients</a> <span class="request_count"><%= Client.unconfirmed.count %></span></li>
        </ul>
      </nav>

      <br />

      <h2>My links</h2>
      <nav id="mylinks">
        <ul>
          <%- if is_admin? -%>
          <li><%= link_to "My events", myevents_path %></li>
          <li><%= link_to "Clients", clients_path %></li>
          <% end %>

          <%- unless current_user.client_id.nil? -%>
          <li><%= link_to "My client", current_user.client %></li>
          <% else %>
          <li><%= link_to "New client", new_client_path %></li>
          <% end %>
          <li><%= link_to "My ads", ads_path %></li>
          <li><%= link_to "New ad", new_ad_path %></li>
        </ul>
      </nav>
    <% end %>

    <br />

    <h2>Tags</h2>
    <div class="tagcloud">
      <span>tags</span> <span>tags</span> <span>tags</span> <span>tags</span> <span>tags</span>
    </div>

    <div class="advertises">
      <p>mainokset</p>
    </div>
  </aside>
</div>

</body>
</html>
