<!DOCTYPE html>
<html>
<head>
  <title>Test310</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://localhost:1337/socket.io/socket.io.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <header id="page_header">
    <div class="top_group">
      <h1>Happen.</h1>

      <div class="recent_events">
        <span>Event name</span>
      </div>

      <nav id="user_nav">
        <% if current_user %>
          Welcome <%= current_user.name %>!
          <%= link_to "Sign out", signout_path, :id => "signout" %>
        <% else %>
          <%= link_to "Sign in", signin_path, :id => "signin" %>
        <% end %>
      </nav>
    </div>

    <div class="bottom_group">
      <nav id="page_nav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="content_wrapper">
    <section id="content">
      <section id="flash">
        <% flash.each do |name, msg| %>
            <%= msg %>
        <% end %>
      </section>

      <%= yield %>
    </section>
  </div>

  <aside>
    <h2>Requests</h2>
    <nav id="requests">
      <ul>
        <li><a href="#">Events</a> <span class="request_count">4</span></li>
      </ul>
    </nav>

    <br />

    <h2>My links</h2>
    <nav id="mylinks">
      <ul>
        <li><%= link_to "Clients", clients_path %></li>
      </ul>
    </nav>

    <br />

    <h2>Tags</h2>
    <div class="tagcloud">
      <span>tags</span> <span>tags</span> <span>tags</span> <span>tags</span> <span>tags</span>
    </div>

    <div class="advertises">
      <p>mainokset</p>
    </div>
  </aside>
</div>

</body>
</html>
